body {
  margin: 0;
  font-family: sans-serif;
  background: #f9f9f9;
}

.container {
  padding: 2rem;
  max-width: 100%;
  overflow-x: auto;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse:collapse;
  min-width: 900px;
}

th, td {
  padding: 20px;
  border-top: 1px solid #ddd;
  border-bottom:1px solid #ddd; ;
  text-align: center;
}

th {
  background-color: #f0f0f0;
}
